.fancyConsole {
	margin: 5px;
	margin-left: -150px;
	padding: 5px;
	position: absolute;
	width: 300px;
	top: 10px;
	left: 50%;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    font-size: 50px;
}

.fancyConsole .small {
	font-size: 0.5em;
	padding-left: 0.5em;
}

.fc_info, .fc_error, .fc_verbose {
	color: #1c4257; border: 1px solid #7096ab;
	background: #ededed; /* Old browsers */
		background: -moz-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9e0f5), color-stop(100%,#92bdd6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* IE10+ */
		background: linear-gradient(top, #b9e0f5 0%,#92bdd6 100%); /* W3C */
}

.fc_error {
	font-weight: bold;
}