body {
	background: #DDDDDF;
	text-align: left;
	font-family: 'Just Another Hand', sans-serif;
	padding: 5px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.reset img {
    width: 64px;
    height: 64px;
}

.wrapper {
	width: 612px;
	margin: 0 auto;
}

.row {
	padding: 5px;
	width: 612px;
}

.row .border, .row.results, .row.additional {
	padding: 0px;
	height: 52px;
}

.row .field, .row .field .cross, .row .scratch, .row.results .result, .row.results .math {
	padding: 10px 0 0 0;
	width: 50px;
	height: 40px;	
	font-size: 40px;
	text-align: center;
	float: left;
	margin: 1px 0 1px 1px;
	cursor: pointer;

}

.row .field {
	position: relative;
}

.row .field.last-field {
	border-radius: 25px;
}

.row .field .cross {
	position: absolute;
	top: -10px;
	font-size: 55px;
	color: #000;
	display: none;
	text-shadow: 0 0 1px white;
}

.row .field.crossed-out .cross {
	display: block;
}


.row .border, .row .field, .row .scratch, .row .result {
	border-radius: 12px;
}

.row .scratch {
	color: #FFF;
	border: 2px solid #C4C4C4;
	float: right;
	width: 40px;
	height: 36px;
	margin: 3px;
	padding: 2px;
}

.row .scoring {
	color: #FFF;
	border: 2px solid #C4C4C4;
	float: right;
	width: 40px;
	height: 36px;
	margin: 3px;
	padding: 2px;
}

.row.results .result {
	color: #FFF;
	float: left;
	width: 58px;
	height: 30px;
	margin: 3px;
	padding: 6px;
	border: 2px solid #C4C4C4;
}

.row.results {
	padding: 5px;
}

.row.results.crossed-out .result, 
.red-finished .row.results .result.red,
.yellow-finished .row.results .result.yellow,
.green-finished .row.results .result.green,
.blue-finished .row.results .result.blue {
	color: #000;
}

.row.results .math {
	width: 25px;
}

.row .scratch.crossed-out {
	color: #000;
}


.row.results .result.red {
	border-color: #DF0000;
}

.row.red, .dice.red {
	background: #DF0000;
	color: #DF0000;
}

.row.red .border {
	background: #800000;
}

.row.red .field {
	background: #FFCFCF;
}

.row.red .field.last-field {
	background: url("../red_lock.png") #FFCFCF;
	background-repeat: no-repeat;
	background-position: 2px 2px; 
}

.row.results .result.yellow {
	border-color: #FDCA00;
}

.row.yellow, .dice.yellow {
	background: #FDCA00;
	color: #FDCA00;
}

.row.yellow .border {
	background: #976600;
}

.row.yellow .field {
	background: #FFFFCF;
}

.row.yellow .field.last-field {
	background: url("../yellow_lock.png") #FFFFCF;
	background-repeat: no-repeat;
	background-position: 2px 2px; 
}

.row.results .result.green {
	border-color: #339900;
}

.row.green, .dice.green {
	background: #339900;
	color: #339900;
}

.row.green .border {
	background: #015901;
}

.row.green .field {
	background: #EFFFEF;
}

.row.green .field.last-field {
	background: url("../green_lock.png") #EFFFEF;
	background-repeat: no-repeat;
	background-position: 2px 2px; 
}

.row.results .result.blue {
	border-color: #336699;
}

.row.blue, .dice.blue {
	background: #336699;
	color: #336699;
}

.row.blue .border {
	background: #003366;
}

.row.blue .field {
	background: #DFDFFF;
}

.row.blue .field.last-field {
	background: url("../blue_lock.png") #DFDFFF;
	background-repeat: no-repeat;
	background-position: 2px 2px; 
}


.row.results .result.finalResult {
	border-color: #000;
}

.row.results {
	background: #AAAAAF;
}

.row.results .result, .row .scratch {
	background: #FFF;
}

.reset {
	cursor: pointer;
	width: 64px;
	height: 64px;
	margin: 10px;
	float: right;
}

.red-finished .row.red,
.yellow-finished .row.yellow,
.green-finished .row.green,
.blue-finished .row.blue {
	background: #999999;
	color: #999999;
}

.red-finished .row.red .border,
.yellow-finished .row.yellow .border,
.green-finished .row.green .border,
.blue-finished .row.blue .border {
	background: #CCCCCC;
}

.red-finished .row.red .field,
.yellow-finished .row.yellow .field,
.green-finished .row.green .field,
.blue-finished .row.blue .field {
	background: #EEEEEE;
}

.red-finished .row.red .field.last-field,
.yellow-finished .row.yellow .field.last-field,
.green-finished .row.green .field.last-field,
.blue-finished .row.blue .field.last-field {
	background: url("../black_lock.png") #EEEEEE;
	background-repeat: no-repeat;
	background-position: 2px 2px; 
}
